<input id="userId" type="hidden" value="{{ user.id }}">
<div class="ui segment center aligned inverted">
        <span>
            {{ user.firstname }} {{ user.lastname }}
            {% if user.picture %}
                <img class="ui avatar image mini" src="{{ user.picture.publicurl }}" alt="user_picture">
            {% endif %}
        </span>
</div>
