{% block editUser %}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if app.request.get('_route') == 'asiel_user_show' %} class="active" {% endif %}><a href="#">Overzicht</a></li>
        <li role="presentation" {% if app.request.get('_route') == 'asiel_user_edit' %} class="active" {% endif %}><a href="#">Aanpassen</a></li>
        <li role="presentation" {% if 'password' in app.request.get('_route') %} class="active" {% endif %}><a href="#">Wachtwoord aanpassen</a></li>
        <li role="presentation" {% if 'picture' in app.request.get('_route') %} class="active" {% endif %}><a href="#">Foto Uploaden</a></li>
        <li><a href="#">Incidenten</a></li>
        <li role="presentation" {% if 'workschedule' in app.request.get('_route') %} class="active" {% endif %}><a href="#">Werkschema</a></li>
    </ul>
{% endblock %}