{% block editUser %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary box-padding-small">
                <div class="box-header with-border">
                    {{ render(controller('EmployeeBundle:Backend:userInfo', {'id': app.request.attributes.get('id')})) }}
                </div>
    <br/>
{% endblock %}