.idea/*
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/pictures/*
phinx.yml
/cc
/phpunit.xml
/.idea
/web/logo/*
!/web/logo/logo_dino.jpg
!/web/logo/default_logo.jpg
.web-server-pid