<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/global.js') }}"></script>
<h1>404 Not found</h1>
<h3>{{ message }}</h3>
<button class="btn-back">Terug naar vorige pagina</button>