{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Medische handeling aanmaken{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ outputFormButton('Aanmaken') }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}