parameters:
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     AsielApplication
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_user:
    mailer_password:
    contact_email:

    facebook_app_id: ~
    facebook_app_secret: ~

    picture_upload_destination: '%kernel.root_dir%/../web/pictures/animals'
    userpicture_upload_destination: '%kernel.root_dir%/../web/pictures/users'

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
