<div class="ui horizontal divider"></div>
<div class="ui vertical masthead center aligned segment">
    <img class="image" src="{{ asset('logo/' ~ info.logoFilename) }}" alt="logo" height="200">
</div>