{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Facebook{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p><a href="{{ loginurl }}">Inloggen bij Facebook *</a></p>
                <p class="text-alert">* Met het Facebook account van het asiel (voor de demo: asieldemo@gmail.com / Test2016</p>
            </div>
        </div>
    </div>
    </div> <!-- end div row -->
    </div> <!-- end col-sm-12 -->
    </div> <!-- end box box-primary -->
{% endblock %}