{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Incident aanmaken{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ outputFormButton('Aanmaken') }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div> <!-- end div row -->
    </div> <!-- end col-sm-12 -->
    </div> <!-- end box box-primary -->
{% endblock %}