<div class="panel panel-primary">
    <div class="panel-heading">Incident {{ incident.id }}</div>
    <div class="panel-body">
        <p>Datum: {{ incident.date|date('d-m-Y') }}</p>
        <p>Omschrijving: {{ incident.title }}</p>
        <p>Gebeurtenis: {{ incident.description|raw }}</p>
    </div>
</div>






