{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Klant aanmaken{% endblock %}
{% block body %}
    <div class="ui twelve column grid container">
        <div class="six wide column">
            <a href="{{ path('backend_customer_create_private') }}"><button class="ui button teal">Particuliere klant</button></a>
            <a href="{{ path('backend_customer_create_business') }}"><button class="ui button olive">Zakelijke klant</button></a>
        </div>
    </div>
{% endblock %}
