.content-wrapper {
    background-color: white;
}

.qtip-bootstrap {
    width: 200px;
    height: 200px;
}

#searchexternally ul {
    list-style: none;
}

#profile-edit-password {
    margin-top: 135px;
}

.box-padding-small {
    padding: 10px;
}

.output-form-button {
    margin-top: 20px;
}

.output-form-button button {
    margin-left: 5px;
}