/**
Site and Site-content provide sticky footer.
 */
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
    min-height: 600px; /* Fix causing the sticky footer to change main menu vertical size when page has little on it */
    margin-top: 30px;
}
