/**
Site and Site-content provide sticky footer.
 */
.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 2;
}

.page {
    margin-bottom: 20%;
}


/*!* Fix causing the sticky footer to change main menu vertical size when page has little on it *!*/
/*.ui.menu>.container, .ui.menu>.grid {*/
    /*max-height: 38px;*/
/*}*/

