/**
Site and Site-content provide sticky footer.
 */
.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 2;
}

.page {
    margin-bottom: 20%;
}

