.header {
    color: white;
    background-color: rgb(15, 70, 90);
    min-height: 5%;
}

.footer {
    background-color: rgb(15, 70, 90);
    color: white;
    height: 200px;
}

.footer p {
    margin-bottom: 2px;
}

.footer .fa {
    margin-right: 5px;
}

.nav {
    margin-top: 3px;
}

.navbar-brand {
    margin-top: 10px;
}

.nav a {
    color: grey
}

.container .nav a:hover {
    color: black;
}

.glyphicon-search {
    margin-top: 13px;
    margin-left: 30px;
    color: yellow;
    font-size: 15px;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.social li {
    display: inline;
    margin-left: 0px;
}

.subtitle {
    margin-left: 80px;
    margin-top: 0px;
}

.contact-form {
    margin-top: 20px;
    margin-bottom: 100px;
}

.contact-text {
    margin-top: 20px;
}