{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Welkom{% endblock %}
{% block body %}
    {% if browser %}
        <p><i class="info icon"></i>{{ browser }}</p>
    {% endif %}
{% endblock %}
