{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Statistieken{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item"><b>Dieren</b></li>
                    <li class="list-group-item"><a href="{{ path('backend_statistics_animal_incoming') }}">Binnengekomen
                            (gevangen/afgestaan)</a>
                    </li>
                    <li class="list-group-item"><a href="{{ path('backend_statistics_animal_incoming_kitten') }}">Binnengekomen
                            kittens</a>
                    </li>
                    <li class="list-group-item"><a href="{{ path('backend_statistics_animal_leaving') }}">Uitgeschreven dieren
                        </a>
                    </li>
                    <li class="list-group-item"><b>Klanten</b></li>
                    <li class="list-group-item"><a href="{{ path('backend_statistics_customer_actions') }}">Handeling per
                            klant</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}