{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Statistieken{% endblock %}
{% block body %}
    <p>Maak een keuze:</p>
    <ul>
        <li>Dieren</li>
        <ul>
            <li><a href="{{ path('backend_statistics_animal_incoming') }}">Binnengekomen</a></li>
        </ul>

        <li>Klanten</li>
        <ul>
            <li><a href="{{ path('backend_statistics_customer_actions') }}">Handeling per klant</a></li>
        </ul>
        <li>Boekhouding</li>
    </ul>
{% endblock %}