{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Agendapunt aanpassen{% endblock %}
{% block body %}
    <div class="ui twelve column grid container">
        <div class="six wide column">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ outputFormButton('Bijwerken') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}