{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block pagetitle %}{% endblock %}
{% block body %}
    <div class="ui text container">
        <h2 class="ui header">Over ons</h2>
        {{ info.aboutUs|raw }}
    </div>
{% endblock %}