{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block pagetitle %}Over ons{% endblock %}
{% block body %}
    <p>
        Hoe minder stress de dieren hebben, hoe waarheidsgetrouwer de omgang met hen is wanneer mensen langskomen om hun te bezoeken en mogelijk te adopteren.
        En hoe aangenamer het verblijf voor de dieren sowieso is!
    </p>
    <p>
        Vandaar dat er rekening werd gehouden met grote kennels bij de honden(een binnenkennel gekoppeld aan een buitenkennel, die dan op zijn beurt weer uitgeeft op een speelweide) voor de honden, en voor de katten mooie kamers met een aansluitende grote buitenren met stronken en planken om op te springen, lekker te soezen in de zon en dergelijke.
    </p>
    <p>
        De dieren krijgen geschikt speelgoed en dagdagelijks proberen we met alle honden te gaan wandelen. Dit momentje privé-tijd doet hen zo’n goed!
    </p>
    <p>
        We proberen van elk dier een waarheidsgetrouw beeld te krijgen zodat we een ideaal baasje voor elk dier kunnen vinden.
        Dit is in het belang van zowel mens als dier!
        Niet elk dier past immers bij elk baasje, en niet elk baasje bij elk dier…!! Sommige dieren hebben veel aandacht of veel beweging nodig, anderen hebben meer een gestructureerde omgeving nodig, noem maar op.
        Om problemen na adoptie te voorkomen, is het dan ook van groot belang elke potentiele thuissituatie, potentieel baasje en te herplaatsen dier goed te begrijpen.
        Wij streven immers na dat een geplaatst dier ook tot zijn allerlaatste moment samen met het nieuwe baasje een gelukkig leven zal kunnen leiden!
    </p>
    <p>
        Wij herplaatsen momenteel enkel honden en katten.
        Indien u interesse heeft om een hond of kat te adopteren, horen wij dat graag!
        U kan ons dan steeds mailen op sofie@vzwdiereninnood.be met de uitleg van uw thuissituatie en wat u van uw nieuwe huisgenoot verwacht. Zo kunnen wij al even kijken of wij een diertje hebben zitten dat bij u zou kunnen passen!
    </p>
{% endblock %}