<!DOCTYPE html>
<html>
    <body>
        <h3>Bericht contactformulier website</h3>
        <p>Er is een nieuw bericht via het contactformulier binnengekomen.</p>
        <p>Onderwerp: {{ reason }}</p>
        <p>Naam: {{ name }}</p>
        <p>Emailadres: {{ email }}</p>
        <p>Bericht: {{ message }}</p>
    </body>
</html>