{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% form_theme searchform '@Frontend/FormTemplate/semantic-ui-2.2.html.twig' %}
{% block pagetitle %}Zoek een dier{% endblock %}
{% block body %}
    <div class="field inline">
        <div id="search">
            {{ form_start(searchform) }}
            {{ form_widget(searchform) }}
            {{ form_end(searchform) }}
            * Maximaal 10 resultaten.
        </div>
    </div>
{% endblock %}

