<div class="form-inline">
    <div id="search">
        {{ form_start(searchform) }}
        {{ form_widget(searchform) }}
        {{ form_end(searchform) }}
        * Maximaal 10 resultaten.
    </div>
</div>